/* Make the whole page fill */
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Honeycomb SVG pattern as background */
.honeycomb-background {
  width: 100%;
  height: 100%;
  background-color: #fdf6e3;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='86.6' viewBox='0 0 100 86.6'><polygon points='50,0 100,25 100,61.6 50,86.6 0,61.6 0,25' fill='none' stroke='%23e3b341' stroke-width='2'/></svg>");
  background-size: 100px 86.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.honeycomb-background h1 {
  font-size: 2rem;
  color: #333;
}

.honeycomb-background p {
  color: #555;
}


